    <!-- Footer -->
<div class="container">
    <hr>
    <footer>
        <div class="row">
            <div class="col-lg-4 text-center">
                <h4 class="text-left text-primary">Site Haritası</h4>
                <p class="text-left">
                    <a href="/Home/About"><span class="glyphicon glyphicon-info-sign"></span> <b>Hakkımızda</b></a><br />
                    <a href="/Home/MostLiked"><span class="glyphicon glyphicon-heart"></span> <b>En Beğenilenler</b></a><br />
                    <a href="/Home/Index"><span class="glyphicon glyphicon-th-list"></span> <b>Son Yazılanlar</b></a><br />
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <h4 class="text-left text-primary">İletişim</h4>
                <p class="text-left"><span class="glyphicon glyphicon-envelope"></span> <b>ftosunoglu0@gmail.com</b></p>
                <p class="text-left"><span class="glyphicon glyphicon-earphone"></span> <b>+90 541 384 4607</b></p>
                <p class="text-left"><b>Tüm hakları saklıdır... &copy; MyBlog @DateTime.Now.Year</b></p>
            </div>
            <div class="col-lg-4 text-center">
                <h4 class="text-left text-primary">E-Bülten Üyeliği <span class="glyphicon glyphicon-bell"></span></h4>
                <div>
                    <p class="text-left" style="font-style:normal; font-size:medium;"><b>E-bülten sistemi web sitelerinde oluşturulan sistem sayesinde mail yolu ile isteyen kişilere ulaşım sağlanarak bilgilendirme yapılması sağlanır.</b></p>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon" id="sizing-addon3">E-Posta</span>
                        <input type="text" class="form-control" placeholder="E-Posta" aria-describedby="sizing-addon3">
                    </div>
                    <button type="submit" class="btn btn-primary btn-group-justified"><span class="glyphicon glyphicon-send"></span> Gönder</button>
                </div>
            </div>
        </div>
    </footer>
</div>
